Camp rastreio.json
{
  "name": "Camp rastreio",
  "nodes": [
    {
      "parameters": {
        "content": "## Primeiro clique",
        "height": 80,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1472,
        144
      ],
      "typeVersion": 1,
      "id": "b716a82d-171b-4811-9da9-215ce8025224",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/kalopessita/klp-1901/rastreio",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1440,
        416
      ],
      "id": "08042329-f0c8-4e8f-aa0d-9be3f75e070d",
      "name": "Evolution",
      "webhookId": "da13d7ab-7933-46de-a314-dff79a376dc3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "89620d9a-a3e9-4fc3-b9f8-03f98d153908",
              "name": "lead.nome",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "b99c3527-b8ee-4025-a95c-8eb2b30687a4",
              "name": "lead.telefone",
              "value": "={{ $json.body.data.key.remoteJid.split(\"@\")[0] }}",
              "type": "string"
            },
            {
              "id": "a878f71b-4d0e-4e70-931f-7103c5a2e407",
              "name": "tracking.ctwaclid",
              "value": "={{ $json.body.data.contextInfo.externalAdReply.ctwaClid }}",
              "type": "string"
            },
            {
              "id": "e8dcc44c-683b-4234-9176-74d159c43261",
              "name": "tracking.source_id",
              "value": "={{ $json.body.data.contextInfo.externalAdReply.sourceId }}",
              "type": "string"
            },
            {
              "id": "326f9fce-dbff-41b7-a345-ed4cd7755276",
              "name": "tracking.token",
              "value": "EAAJk1tlYG94BPtkCg7sv6ZCpZBZCij1WbYWiIuBs6VTbHZA4rFeDEtEJEhMPKXoy4yeOGRSEJXfK2bGjyKlfvAGqlDru3H4Vottk1bcXyoHsD1LhTfRXduWSkDZBVvZCZBnTFwjCjhu0nSEzsI4SCYeH2pDPZAm8XfZAUCt2U9plS9tC8YctobOGgBZAVp2XThuR4jvgZDZD",
              "type": "string"
            },
            {
              "id": "8c350dcd-acc6-43ca-bd97-f1463e90b046",
              "name": "tracking.pixel",
              "value": " 1224234862537366",
              "type": "string"
            },
            {
              "id": "0767432d-5bce-487c-b342-cee567f2d7fb",
              "name": "anuncio.titulo",
              "value": "={{ $json.body.data.contextInfo.externalAdReply.title }}",
              "type": "string"
            },
            {
              "id": "f391a01b-30bb-4734-baf0-e1804c443b71",
              "name": "anuncio.tipo_midia",
              "value": "={{ $json.body.data.contextInfo.externalAdReply.mediaType }}",
              "type": "string"
            },
            {
              "id": "b06088da-bbb6-4075-b083-c961901f6b22",
              "name": "anuncio.thumbnail_url",
              "value": "={{ $json.body.data.contextInfo.externalAdReply.thumbnailUrl }}",
              "type": "string"
            },
            {
              "id": "df0037a3-dd56-4106-b4e5-9d97bbe26575",
              "name": "anuncio.url",
              "value": "={{ $json.body.data.contextInfo.externalAdReply.mediaUrl }}",
              "type": "string"
            },
            {
              "id": "9834b7d8-6012-478a-a8e6-edc14b922783",
              "name": "event.data",
              "value": "={{ $json.body.data.messageTimestamp }}",
              "type": "string"
            },
            {
              "id": "b7a00e46-b33e-4d32-abdd-5c7608d1e5e6",
              "name": "lead.mensagem",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1248,
        416
      ],
      "id": "d5c41397-2868-49f8-b7d0-5836821999d2",
      "name": "Normaliza"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a26896cf-7941-45a9-ba77-0872c1050346",
              "leftValue": "={{ $json.tracking.ctwaclid }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1040,
        416
      ],
      "id": "8fd68dfb-05da-4dc8-ba4a-94d5c175f6a6",
      "name": "Anuncio?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -352,
        432
      ],
      "id": "f8897abf-97e4-4885-ab37-3bfcd80fd6d7",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1X8Qh1QcFq1s6X9BH06aPD3WDHQct8fU02_QaIxcIHxg",
          "mode": "list",
          "cachedResultName": "Aula",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1X8Qh1QcFq1s6X9BH06aPD3WDHQct8fU02_QaIxcIHxg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 660083152,
          "mode": "list",
          "cachedResultName": "Rastreio",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1X8Qh1QcFq1s6X9BH06aPD3WDHQct8fU02_QaIxcIHxg/edit#gid=660083152"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Telefone",
              "lookupValue": "={{ $json.lead.telefone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -832,
        256
      ],
      "id": "b92f6242-3777-4167-9924-5a27a73061e0",
      "name": "BuscaLead",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "48b8efb5-186f-496d-8107-b2ad34532bd5",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -624,
        256
      ],
      "id": "dbf8ad51-b786-456a-8a8a-9b194a3fb858",
      "name": "LeadNovo?"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v22.0/{{ $('Normaliza').item.json.tracking.source_id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('Normaliza').item.json.tracking.token }}"
            },
            {
              "name": "fields",
              "value": "name,adset{id,name},campaign{id,name}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -352,
        144
      ],
      "id": "6b7481e2-24e0-4ee3-a83f-8b87476a3a39",
      "name": "BuscaRastreio",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1X8Qh1QcFq1s6X9BH06aPD3WDHQct8fU02_QaIxcIHxg",
          "mode": "list",
          "cachedResultName": "Aula",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1X8Qh1QcFq1s6X9BH06aPD3WDHQct8fU02_QaIxcIHxg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 660083152,
          "mode": "list",
          "cachedResultName": "Rastreio",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1X8Qh1QcFq1s6X9BH06aPD3WDHQct8fU02_QaIxcIHxg/edit#gid=660083152"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Campanha": "={{ $json.campaign.name }}",
            "Conjunto de anúncio": "={{ $json.adset.name }}",
            "Anúncio": "={{ $json.name }}",
            "ctwaclid": "={{ $('Normaliza').item.json.tracking.ctwaclid }}",
            "source ID": "={{ $('Normaliza').item.json.tracking.source_id }}",
            "Data de entrada": "={{ $('Normaliza').item.json.event.data.toDateTime('s').format(\"dd-MM-yyyy HH:mm:ss\") }}",
            "Nome": "={{ $('Normaliza').item.json.lead.nome }}",
            "Telefone": "={{ $('Normaliza').item.json.lead.telefone }}",
            "Link WhatsApp": "=https://wa.me/{{ $('Normaliza').item.json.lead.telefone }}",
            "título": "={{ $('Normaliza').item.json.anuncio.titulo }}",
            "thumbnail URL": "={{ $('Normaliza').item.json.anuncio.thumbnail_url }}",
            "URL do anúncio": "={{ $('Normaliza').item.json.anuncio.url }}",
            "Tipo do anúncio": "={{ $('Normaliza').item.json.anuncio.tipo_midia.toLowerCase() }}",
            "mensagem do lead": "={{ $('Normaliza').item.json.lead.mensagem }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Campanha",
              "displayName": "Campanha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Conjunto de anúncio",
              "displayName": "Conjunto de anúncio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Anúncio",
              "displayName": "Anúncio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ctwaclid",
              "displayName": "ctwaclid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source ID",
              "displayName": "source ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data de entrada",
              "displayName": "Data de entrada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mensagem do lead",
              "displayName": "mensagem do lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link WhatsApp",
              "displayName": "Link WhatsApp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "título",
              "displayName": "título",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "thumbnail URL",
              "displayName": "thumbnail URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL do anúncio",
              "displayName": "URL do anúncio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tipo do anúncio",
              "displayName": "Tipo do anúncio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -144,
        144
      ],
      "id": "0fa20763-2bef-4042-b440-56154d8bff32",
      "name": "CriaLead"
    },
    {
      "parameters": {
        "content": "## ultimo clique\n",
        "height": 80,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1440,
        752
      ],
      "typeVersion": 1,
      "id": "7ebc389c-6c95-4c35-983e-ca8fc5aa508e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/kalopessita/klp-1901/rastreio",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1488,
        1056
      ],
      "id": "86546e8b-2a1c-44cf-9321-a7d54f2201a5",
      "name": "Evolution1",
      "webhookId": "da13d7ab-7933-46de-a314-dff79a376dc3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "89620d9a-a3e9-4fc3-b9f8-03f98d153908",
              "name": "lead.nome",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "b99c3527-b8ee-4025-a95c-8eb2b30687a4",
              "name": "lead.telefone",
              "value": "={{ $json.body.data.key.remoteJid.split(\"@\")[0] }}",
              "type": "string"
            },
            {
              "id": "a878f71b-4d0e-4e70-931f-7103c5a2e407",
              "name": "tracking.ctwaclid",
              "value": "={{ $json.body.data.contextInfo.externalAdReply.ctwaClid }}",
              "type": "string"
            },
            {
              "id": "e8dcc44c-683b-4234-9176-74d159c43261",
              "name": "tracking.source_id",
              "value": "={{ $json.body.data.contextInfo.externalAdReply.sourceId }}",
              "type": "string"
            },
            {
              "id": "326f9fce-dbff-41b7-a345-ed4cd7755276",
              "name": "tracking.token",
              "value": "EAAJk1tlYG94BPtkCg7sv6ZCpZBZCij1WbYWiIuBs6VTbHZA4rFeDEtEJEhMPKXoy4yeOGRSEJXfK2bGjyKlfvAGqlDru3H4Vottk1bcXyoHsD1LhTfRXduWSkDZBVvZCZBnTFwjCjhu0nSEzsI4SCYeH2pDPZAm8XfZAUCt2U9plS9tC8YctobOGgBZAVp2XThuR4jvgZDZD",
              "type": "string"
            },
            {
              "id": "8c350dcd-acc6-43ca-bd97-f1463e90b046",
              "name": "tracking.pixel",
              "value": " 1224234862537366",
              "type": "string"
            },
            {
              "id": "0767432d-5bce-487c-b342-cee567f2d7fb",
              "name": "anuncio.titulo",
              "value": "={{ $json.body.data.contextInfo.externalAdReply.title }}",
              "type": "string"
            },
            {
              "id": "f391a01b-30bb-4734-baf0-e1804c443b71",
              "name": "anuncio.tipo_midia",
              "value": "={{ $json.body.data.contextInfo.externalAdReply.mediaType }}",
              "type": "string"
            },
            {
              "id": "b06088da-bbb6-4075-b083-c961901f6b22",
              "name": "anuncio.thumbnail_url",
              "value": "={{ $json.body.data.contextInfo.externalAdReply.thumbnailUrl }}",
              "type": "string"
            },
            {
              "id": "df0037a3-dd56-4106-b4e5-9d97bbe26575",
              "name": "anuncio.url",
              "value": "={{ $json.body.data.contextInfo.externalAdReply.mediaUrl }}",
              "type": "string"
            },
            {
              "id": "9834b7d8-6012-478a-a8e6-edc14b922783",
              "name": "event.data",
              "value": "={{ $json.body.data.messageTimestamp }}",
              "type": "string"
            },
            {
              "id": "b7a00e46-b33e-4d32-abdd-5c7608d1e5e6",
              "name": "lead.mensagem",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1296,
        1056
      ],
      "id": "1d8efa09-ac0c-4189-96ee-e2c1cda0f4f6",
      "name": "Normaliza1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a26896cf-7941-45a9-ba77-0872c1050346",
              "leftValue": "={{ $json.tracking.ctwaclid }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1088,
        1056
      ],
      "id": "ead526b2-8cbb-4958-99e1-780ef37483f6",
      "name": "Anuncio?1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -832,
        1184
      ],
      "id": "7a5b0fc4-e4c3-4260-8a12-3142504182dc",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v22.0/{{ $('Normaliza1').item.json.tracking.source_id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('Normaliza1').item.json.tracking.token }}"
            },
            {
              "name": "fields",
              "value": "name,adset{id,name},campaign{id,name}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -832,
        800
      ],
      "id": "221315b6-04a8-415c-9385-682d0f8664bd",
      "name": "BuscaRastreio1",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1X8Qh1QcFq1s6X9BH06aPD3WDHQct8fU02_QaIxcIHxg",
          "mode": "list",
          "cachedResultName": "Aula",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1X8Qh1QcFq1s6X9BH06aPD3WDHQct8fU02_QaIxcIHxg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 660083152,
          "mode": "list",
          "cachedResultName": "Rastreio",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1X8Qh1QcFq1s6X9BH06aPD3WDHQct8fU02_QaIxcIHxg/edit#gid=660083152"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Campanha": "={{ $json.campaign.name }}",
            "Conjunto de anúncio": "={{ $json.adset.name }}",
            "Anúncio": "={{ $json.name }}",
            "ctwaclid": "={{ $('Normaliza1').item.json.tracking.ctwaclid }}",
            "source ID": "={{ $('Normaliza1').item.json.tracking.source_id }}",
            "Data de entrada": "={{ $('Normaliza1').item.json.event.data.toDateTime('s').format(\"dd-MM-yyyy HH:mm:ss\") }}",
            "Nome": "={{ $('Normaliza1').item.json.lead.nome }}",
            "Telefone": "={{ $('Normaliza1').item.json.lead.telefone }}",
            "Link WhatsApp": "=https://wa.me/{{ $('Normaliza1').item.json.lead.telefone }}",
            "título": "={{ $('Normaliza1').item.json.anuncio.titulo }}",
            "thumbnail URL": "={{ $('Normaliza1').item.json.anuncio.thumbnail_url }}",
            "URL do anúncio": "={{ $('Normaliza1').item.json.anuncio.url }}",
            "Tipo do anúncio": "={{ $('Normaliza1').item.json.anuncio.tipo_midia.toLowerCase() }}",
            "mensagem do lead": "={{ $('Normaliza1').item.json.lead.mensagem }}"
          },
          "matchingColumns": [
            "Telefone"
          ],
          "schema": [
            {
              "id": "Campanha",
              "displayName": "Campanha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Conjunto de anúncio",
              "displayName": "Conjunto de anúncio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Anúncio",
              "displayName": "Anúncio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ctwaclid",
              "displayName": "ctwaclid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source ID",
              "displayName": "source ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data de entrada",
              "displayName": "Data de entrada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mensagem do lead",
              "displayName": "mensagem do lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link WhatsApp",
              "displayName": "Link WhatsApp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "título",
              "displayName": "título",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "thumbnail URL",
              "displayName": "thumbnail URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL do anúncio",
              "displayName": "URL do anúncio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tipo do anúncio",
              "displayName": "Tipo do anúncio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -624,
        800
      ],
      "id": "5c07479e-548f-4963-b7d6-f2de27654c9b",
      "name": "CriaLead1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/kalopessita/klp-1901/rastreio",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1552,
        1792
      ],
      "id": "f38fba39-ebf0-46fa-ab6b-e6bb7b2d851a",
      "name": "Evolution2",
      "webhookId": "da13d7ab-7933-46de-a314-dff79a376dc3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "89620d9a-a3e9-4fc3-b9f8-03f98d153908",
              "name": "lead.nome",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "b99c3527-b8ee-4025-a95c-8eb2b30687a4",
              "name": "lead.telefone",
              "value": "={{ $json.body.data.key.remoteJid.split(\"@\")[0] }}",
              "type": "string"
            },
            {
              "id": "a878f71b-4d0e-4e70-931f-7103c5a2e407",
              "name": "tracking.ctwaclid",
              "value": "={{ $json.body.data.contextInfo.externalAdReply.ctwaClid }}",
              "type": "string"
            },
            {
              "id": "e8dcc44c-683b-4234-9176-74d159c43261",
              "name": "tracking.source_id",
              "value": "={{ $json.body.data.contextInfo.externalAdReply.sourceId }}",
              "type": "string"
            },
            {
              "id": "326f9fce-dbff-41b7-a345-ed4cd7755276",
              "name": "tracking.token",
              "value": "EAAJk1tlYG94BPtkCg7sv6ZCpZBZCij1WbYWiIuBs6VTbHZA4rFeDEtEJEhMPKXoy4yeOGRSEJXfK2bGjyKlfvAGqlDru3H4Vottk1bcXyoHsD1LhTfRXduWSkDZBVvZCZBnTFwjCjhu0nSEzsI4SCYeH2pDPZAm8XfZAUCt2U9plS9tC8YctobOGgBZAVp2XThuR4jvgZDZD",
              "type": "string"
            },
            {
              "id": "8c350dcd-acc6-43ca-bd97-f1463e90b046",
              "name": "tracking.pixel",
              "value": " 1224234862537366",
              "type": "string"
            },
            {
              "id": "0767432d-5bce-487c-b342-cee567f2d7fb",
              "name": "anuncio.titulo",
              "value": "={{ $json.body.data.contextInfo.externalAdReply.title }}",
              "type": "string"
            },
            {
              "id": "f391a01b-30bb-4734-baf0-e1804c443b71",
              "name": "anuncio.tipo_midia",
              "value": "={{ $json.body.data.contextInfo.externalAdReply.mediaType }}",
              "type": "string"
            },
            {
              "id": "b06088da-bbb6-4075-b083-c961901f6b22",
              "name": "anuncio.thumbnail_url",
              "value": "={{ $json.body.data.contextInfo.externalAdReply.thumbnailUrl }}",
              "type": "string"
            },
            {
              "id": "df0037a3-dd56-4106-b4e5-9d97bbe26575",
              "name": "anuncio.url",
              "value": "={{ $json.body.data.contextInfo.externalAdReply.mediaUrl }}",
              "type": "string"
            },
            {
              "id": "9834b7d8-6012-478a-a8e6-edc14b922783",
              "name": "event.data",
              "value": "={{ $json.body.data.messageTimestamp }}",
              "type": "string"
            },
            {
              "id": "b7a00e46-b33e-4d32-abdd-5c7608d1e5e6",
              "name": "lead.mensagem",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1360,
        1792
      ],
      "id": "5a81070d-92f7-46d1-b8b3-016a49f8579b",
      "name": "Normaliza2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a26896cf-7941-45a9-ba77-0872c1050346",
              "leftValue": "={{ $json.tracking.ctwaclid }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1152,
        1792
      ],
      "id": "eeb23aba-df90-44ae-b6e7-eba467bc6046",
      "name": "Anuncio?2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -896,
        1920
      ],
      "id": "3c144dda-ffe2-484e-8842-5c2a9eed5c2a",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v22.0/{{ $('Normaliza2').item.json.tracking.source_id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('Normaliza2').item.json.tracking.token }}"
            },
            {
              "name": "fields",
              "value": "name,adset{id,name},campaign{id,name}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -896,
        1536
      ],
      "id": "85e79601-66c6-4e7a-8708-85b0317fbedc",
      "name": "BuscaRastreio2",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1X8Qh1QcFq1s6X9BH06aPD3WDHQct8fU02_QaIxcIHxg",
          "mode": "list",
          "cachedResultName": "Aula",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1X8Qh1QcFq1s6X9BH06aPD3WDHQct8fU02_QaIxcIHxg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 660083152,
          "mode": "list",
          "cachedResultName": "Rastreio",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1X8Qh1QcFq1s6X9BH06aPD3WDHQct8fU02_QaIxcIHxg/edit#gid=660083152"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Campanha": "={{ $json.campaign.name }}",
            "Conjunto de anúncio": "={{ $json.adset.name }}",
            "Anúncio": "={{ $json.name }}",
            "ctwaclid": "={{ $('Normaliza2').item.json.tracking.ctwaclid }}",
            "source ID": "={{ $('Normaliza2').item.json.tracking.source_id }}",
            "Data de entrada": "={{ $('Normaliza2').item.json.event.data.toDateTime('s').format(\"dd-MM-yyyy HH:mm:ss\") }}",
            "Nome": "={{ $('Normaliza2').item.json.lead.nome }}",
            "Telefone": "={{ $('Normaliza2').item.json.lead.telefone }}",
            "Link WhatsApp": "=https://wa.me/{{ $('Normaliza2').item.json.lead.telefone }}",
            "título": "={{ $('Normaliza2').item.json.anuncio.titulo }}",
            "thumbnail URL": "={{ $('Normaliza2').item.json.anuncio.thumbnail_url }}",
            "URL do anúncio": "={{ $('Normaliza2').item.json.anuncio.url }}",
            "Tipo do anúncio": "={{ $('Normaliza2').item.json.anuncio.tipo_midia.toLowerCase() }}",
            "mensagem do lead": "={{ $('Normaliza2').item.json.lead.mensagem }}"
          },
          "matchingColumns": [
            "Telefone"
          ],
          "schema": [
            {
              "id": "Campanha",
              "displayName": "Campanha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Conjunto de anúncio",
              "displayName": "Conjunto de anúncio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Anúncio",
              "displayName": "Anúncio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ctwaclid",
              "displayName": "ctwaclid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source ID",
              "displayName": "source ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data de entrada",
              "displayName": "Data de entrada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mensagem do lead",
              "displayName": "mensagem do lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link WhatsApp",
              "displayName": "Link WhatsApp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "título",
              "displayName": "título",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "thumbnail URL",
              "displayName": "thumbnail URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL do anúncio",
              "displayName": "URL do anúncio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tipo do anúncio",
              "displayName": "Tipo do anúncio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -688,
        1536
      ],
      "id": "77b4687c-d0a6-4cc4-a260-c9ff0e5e28b4",
      "name": "CriaLead2"
    },
    {
      "parameters": {
        "content": "## TODOS CLIQUES\n",
        "height": 80,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1568,
        1664
      ],
      "typeVersion": 1,
      "id": "06145c7b-3384-463f-a30f-62a129d56233",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $now }}",
        "format": "X",
        "outputFieldName": "datatimestamp",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        48,
        144
      ],
      "id": "9353f750-b1e7-478d-b8f5-97831d5e4f64",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "type": "SHA256",
        "value": "={{ $('Normaliza').item.json.lead.telefone }}",
        "dataPropertyName": "hash_phone"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        256,
        144
      ],
      "id": "9eb1d6d3-f10d-493b-ace4-15b38fafac6b",
      "name": "CryptoPhone"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v20.0/{{ $('Normaliza').item.json.tracking.source_id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('Normaliza').item.json.tracking.token }}"
            },
            {
              "name": "fields",
              "value": "tracking_specs"
            }
          ]
        },
        "options": {}
      },
      "id": "0aaf227b-3bfb-47d0-89c5-ed8095bf62cd",
      "name": "BuscaPixel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "// Função para procurar \"dataset\" e \"page\"\nfunction findDatasetAndPage(jsonObj) {\n    let result = {\n        dataset: [],\n        page: []\n    };\n\n    function searchInObject(obj) {\n        if (obj && typeof obj === 'object') {\n            // Coleta \"dataset\" e fallback para \"fb_pixel\"\n            if (obj['dataset']) {\n                result.dataset.push(...obj['dataset']);\n            } else if (obj['fb_pixel']) {\n                result.dataset.push(...obj['fb_pixel']);\n            }\n\n            // Coleta \"page\" apenas\n            if (obj['page']) {\n                result.page.push(...obj['page']);\n            }\n\n            // Percorre os sub-objetos e arrays recursivamente\n            for (let key in obj) {\n                if (obj.hasOwnProperty(key) && typeof obj[key] === 'object') {\n                    searchInObject(obj[key]);\n                }\n            }\n        }\n    }\n\n    searchInObject(jsonObj);\n    return result;\n}\n\n// A entrada do n8n geralmente vem em um formato específico. Pegue os dados de entrada.\nconst inputData = $input.all();\n\nlet finalResult = [];\n\ninputData.forEach(item => {\n    // Use a função para procurar os valores de \"dataset\" e \"page\"\n    const datasetsAndPages = findDatasetAndPage(item.json);\n    \n    // Adiciona os resultados encontrados apenas se houver pelo menos um dataset ou page\n    if (datasetsAndPages.dataset.length > 0 || datasetsAndPages.page.length > 0) {\n        finalResult.push({ json: datasetsAndPages });\n    }\n});\n\n// Retorna os dados no formato esperado pelo n8n\nreturn finalResult;"
      },
      "id": "34cf366b-614d-473d-921a-e0e71c838c2b",
      "name": "Extrair ID pixel e page",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v20.0/{{ $('Normaliza').item.json.tracking.pixel }}/events",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('Normaliza').item.json.tracking.token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": [\n    {\n      \"action_source\": \"business_messaging\",\n      \"event_name\": \"LeadSubmitted\",\n      \"event_time\": {{ $('Date & Time').item.json.datatimestamp }},\n      \"messaging_channel\": \"whatsapp\",\n      \"user_data\": {\n        \"ph\": \"{{ $('CryptoPhone').item.json.hash_phone }}\",\n        \"ctwa_clid\": \"{{ $('Normaliza').item.json.tracking.ctwaclid }}\",\n        \"page_id\": \"{{ $json.page[0] }}\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "id": "183fa3d9-d7c5-438b-9dfe-5da83bd0cd81",
      "name": "EnviaLead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        832,
        144
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $now }}",
        "format": "X",
        "outputFieldName": "datatimestamp",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -416,
        800
      ],
      "id": "3836cbab-d213-4edc-990a-acd01671a9bb",
      "name": "Date & Time1"
    },
    {
      "parameters": {
        "type": "SHA256",
        "value": "={{ $('Normaliza').item.json.lead.telefone }}",
        "dataPropertyName": "hash_phone"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -208,
        800
      ],
      "id": "47711abc-82e4-4e19-91ca-3034aaa3227e",
      "name": "CryptoPhone1"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v20.0/{{ $('Normaliza').item.json.tracking.source_id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('Normaliza').item.json.tracking.token }}"
            },
            {
              "name": "fields",
              "value": "tracking_specs"
            }
          ]
        },
        "options": {}
      },
      "id": "db237b90-337c-4e94-8d61-8c9b14e70d2b",
      "name": "BuscaPixel1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -16,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "// Função para procurar \"dataset\" e \"page\"\nfunction findDatasetAndPage(jsonObj) {\n    let result = {\n        dataset: [],\n        page: []\n    };\n\n    function searchInObject(obj) {\n        if (obj && typeof obj === 'object') {\n            // Coleta \"dataset\" e fallback para \"fb_pixel\"\n            if (obj['dataset']) {\n                result.dataset.push(...obj['dataset']);\n            } else if (obj['fb_pixel']) {\n                result.dataset.push(...obj['fb_pixel']);\n            }\n\n            // Coleta \"page\" apenas\n            if (obj['page']) {\n                result.page.push(...obj['page']);\n            }\n\n            // Percorre os sub-objetos e arrays recursivamente\n            for (let key in obj) {\n                if (obj.hasOwnProperty(key) && typeof obj[key] === 'object') {\n                    searchInObject(obj[key]);\n                }\n            }\n        }\n    }\n\n    searchInObject(jsonObj);\n    return result;\n}\n\n// A entrada do n8n geralmente vem em um formato específico. Pegue os dados de entrada.\nconst inputData = $input.all();\n\nlet finalResult = [];\n\ninputData.forEach(item => {\n    // Use a função para procurar os valores de \"dataset\" e \"page\"\n    const datasetsAndPages = findDatasetAndPage(item.json);\n    \n    // Adiciona os resultados encontrados apenas se houver pelo menos um dataset ou page\n    if (datasetsAndPages.dataset.length > 0 || datasetsAndPages.page.length > 0) {\n        finalResult.push({ json: datasetsAndPages });\n    }\n});\n\n// Retorna os dados no formato esperado pelo n8n\nreturn finalResult;"
      },
      "id": "cd41b075-0e62-4076-bb2c-44bf11a76b3c",
      "name": "Extrair ID pixel e page1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        800
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v20.0/{{ $('Normaliza').item.json.tracking.pixel }}/events",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('Normaliza').item.json.tracking.token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": [\n    {\n      \"action_source\": \"business_messaging\",\n      \"event_name\": \"LeadSubmitted\",\n      \"event_time\": {{ $('Date & Time1').item.json.datatimestamp }},\n      \"messaging_channel\": \"whatsapp\",\n      \"user_data\": {\n        \"ph\": \"{{ $('CryptoPhone1').item.json.hash_phone }}\",\n        \"ctwa_clid\": \"{{ $('Normaliza').item.json.tracking.ctwaclid }}\",\n        \"page_id\": \"{{ $json.page[0] }}\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "id": "6ffe3e91-53f9-4ae6-88f7-14e17d96e7c4",
      "name": "EnviaLead1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        368,
        800
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/kalopessita/klp-1901/rastreio",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1536,
        3008
      ],
      "id": "dda31a9f-10fe-4dda-93c0-fd379c26d89b",
      "name": "Webhook1",
      "webhookId": "da13d7ab-7933-46de-a314-dff79a376dc3"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const fullName = $json.nome || '';\n\nfunction removeAccents(str) {\n  return str.normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\n}\n\nconst cleanName = removeAccents(fullName.trim());\n\nif (!cleanName) {\n  return {\n    first_name: '',\n    last_name: ''\n  };\n}\n\nconst nameParts = cleanName.split(' ');\nconst first_name = nameParts[0];\nconst last_name = nameParts.length > 1 ? nameParts.slice(1).join(' ') : '';\n\nreturn {\n  first_name,\n  last_name\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1264,
        3008
      ],
      "id": "9e1ac199-b720-4072-9400-259b224bee71",
      "name": "First and last name"
    },
    {
      "parameters": {
        "content": "## Lead Qualificado\n\n",
        "height": 80,
        "width": 262,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1568,
        2816
      ],
      "typeVersion": 1,
      "id": "5f8ce46b-5647-4a45-9e2e-ce56776a342e",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1X8Qh1QcFq1s6X9BH06aPD3WDHQct8fU02_QaIxcIHxg",
          "mode": "list",
          "cachedResultName": "Aula",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1X8Qh1QcFq1s6X9BH06aPD3WDHQct8fU02_QaIxcIHxg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 660083152,
          "mode": "list",
          "cachedResultName": "Rastreio",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1X8Qh1QcFq1s6X9BH06aPD3WDHQct8fU02_QaIxcIHxg/edit#gid=660083152"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Telefone",
              "lookupValue": "={{ $('Webhook1').item.json.telefone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1008,
        3040
      ],
      "id": "9a1c6d62-784c-4783-9da3-eb2f16beade4",
      "name": "BuscaLead1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1X8Qh1QcFq1s6X9BH06aPD3WDHQct8fU02_QaIxcIHxg",
          "mode": "list",
          "cachedResultName": "Aula",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1X8Qh1QcFq1s6X9BH06aPD3WDHQct8fU02_QaIxcIHxg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 660083152,
          "mode": "list",
          "cachedResultName": "Rastreio",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1X8Qh1QcFq1s6X9BH06aPD3WDHQct8fU02_QaIxcIHxg/edit#gid=660083152"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Telefone": "={{ $('Webhook1').item.json.telefone }}",
            "Nome": "={{ $('Webhook1').item.json.nome }}"
          },
          "matchingColumns": [
            "Telefone"
          ],
          "schema": [
            {
              "id": "Campanha",
              "displayName": "Campanha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Conjunto de anúncio",
              "displayName": "Conjunto de anúncio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Anúncio",
              "displayName": "Anúncio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ctwaclid",
              "displayName": "ctwaclid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source ID",
              "displayName": "source ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data de entrada",
              "displayName": "Data de entrada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mensagem do lead",
              "displayName": "mensagem do lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link WhatsApp",
              "displayName": "Link WhatsApp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "título",
              "displayName": "título",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "thumbnail URL",
              "displayName": "thumbnail URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "URL do anúncio",
              "displayName": "URL do anúncio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tipo do anúncio",
              "displayName": "Tipo do anúncio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1008,
        2880
      ],
      "id": "65eee0f3-2838-462e-bc56-7269dccdb2b0",
      "name": "AtualizaNome"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $now }}",
        "format": "X",
        "outputFieldName": "datatimestamp",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -832,
        3040
      ],
      "id": "8820de09-fe8b-41a1-aed1-1d96340c773b",
      "name": "Date & Time2"
    },
    {
      "parameters": {
        "type": "SHA256",
        "value": "={{ $('Webhook1').item.json.telefone }}",
        "dataPropertyName": "hash_phone"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -624,
        3040
      ],
      "id": "6acef623-c599-496a-bd4a-c45e5a720875",
      "name": "CryptoPhone2"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v20.0/{{ $('BuscaLead1').item.json['source ID'] }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "=EAAJk1tlYG94BPtkCg7sv6ZCpZBZCij1WbYWiIuBs6VTbHZA4rFeDEtEJEhMPKXoy4yeOGRSEJXfK2bGjyKlfvAGqlDru3H4Vottk1bcXyoHsD1LhTfRXduWSkDZBVvZCZBnTFwjCjhu0nSEzsI4SCYeH2pDPZAm8XfZAUCt2U9plS9tC8YctobOGgBZAVp2XThuR4jvgZDZD"
            },
            {
              "name": "fields",
              "value": "tracking_specs"
            }
          ]
        },
        "options": {}
      },
      "id": "60aa63cd-ffbf-49ed-bde8-3d246cf25496",
      "name": "BuscaPixel2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -16,
        3040
      ]
    },
    {
      "parameters": {
        "jsCode": "// Função para procurar \"dataset\" e \"page\"\nfunction findDatasetAndPage(jsonObj) {\n    let result = {\n        dataset: [],\n        page: []\n    };\n\n    function searchInObject(obj) {\n        if (obj && typeof obj === 'object') {\n            // Coleta \"dataset\" e fallback para \"fb_pixel\"\n            if (obj['dataset']) {\n                result.dataset.push(...obj['dataset']);\n            } else if (obj['fb_pixel']) {\n                result.dataset.push(...obj['fb_pixel']);\n            }\n\n            // Coleta \"page\" apenas\n            if (obj['page']) {\n                result.page.push(...obj['page']);\n            }\n\n            // Percorre os sub-objetos e arrays recursivamente\n            for (let key in obj) {\n                if (obj.hasOwnProperty(key) && typeof obj[key] === 'object') {\n                    searchInObject(obj[key]);\n                }\n            }\n        }\n    }\n\n    searchInObject(jsonObj);\n    return result;\n}\n\n// A entrada do n8n geralmente vem em um formato específico. Pegue os dados de entrada.\nconst inputData = $input.all();\n\nlet finalResult = [];\n\ninputData.forEach(item => {\n    // Use a função para procurar os valores de \"dataset\" e \"page\"\n    const datasetsAndPages = findDatasetAndPage(item.json);\n    \n    // Adiciona os resultados encontrados apenas se houver pelo menos um dataset ou page\n    if (datasetsAndPages.dataset.length > 0 || datasetsAndPages.page.length > 0) {\n        finalResult.push({ json: datasetsAndPages });\n    }\n});\n\n// Retorna os dados no formato esperado pelo n8n\nreturn finalResult;"
      },
      "id": "56413977-2848-425c-b67b-63d3cbc6add6",
      "name": "Extrair ID pixel e page2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        3040
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v20.0/1224234862537366/events",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "=EAAJk1tlYG94BPtkCg7sv6ZCpZBZCij1WbYWiIuBs6VTbHZA4rFeDEtEJEhMPKXoy4yeOGRSEJXfK2bGjyKlfvAGqlDru3H4Vottk1bcXyoHsD1LhTfRXduWSkDZBVvZCZBnTFwjCjhu0nSEzsI4SCYeH2pDPZAm8XfZAUCt2U9plS9tC8YctobOGgBZAVp2XThuR4jvgZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": [\n    {\n      \"action_source\": \"business_messaging\",\n      \"event_name\": \"QualifiedLead\",\n      \"event_time\": {{ $('Date & Time2').item.json.datatimestamp }},\n      \"messaging_channel\": \"whatsapp\",\n      \"user_data\": {\n        \"ph\": \"{{ $('CryptoPhone2').item.json.hash_phone }}\",\n        \"fn\": \"{{ $('CryptoFN').item.json.hash_fn }}\",\n        \"ln\": \"{{ $('CryptoLN').item.json.hash_ln }}\",\n        \"ctwa_clid\": \"{{ $('BuscaLead1').item.json.ctwaclid }}\",\n        \"page_id\": \"{{ $json.page[0] }}\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "id": "b608c3c9-c242-4c98-bc68-ae74988c91ce",
      "name": "EnviaLead2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        368,
        3040
      ]
    },
    {
      "parameters": {
        "type": "SHA256",
        "value": "={{ $('First and last name').item.json.first_name.toLowerCase() }}",
        "dataPropertyName": "hash_fn"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -432,
        3040
      ],
      "id": "5c0d3172-b67c-413f-9a11-da541d20c746",
      "name": "CryptoFN"
    },
    {
      "parameters": {
        "type": "SHA256",
        "value": "={{ $('First and last name').item.json.last_name.toLowerCase() }}",
        "dataPropertyName": "hash_ln"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -256,
        3040
      ],
      "id": "01fb63de-be1e-42d1-bb7a-dae6dd1fd88b",
      "name": "CryptoLN"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9284d2a8-1e96-4165-90bb-1dfc9e00da13",
              "name": "tracking.source_id",
              "value": "={{ $json.body.data.contextInfo.externalAdReply.sourceId }}",
              "type": "string"
            },
            {
              "id": "391d2c70-0938-4b79-ad9c-6dd4c1318185",
              "name": "tracking.ctwaclid",
              "value": "={{ $json.body.data.contextInfo.externalAdReply.ctwaClid }}",
              "type": "string"
            },
            {
              "id": "3e2a06dc-651c-4053-9dda-0bb0319febf3",
              "name": "anuncio.titulo",
              "value": "={{ $json.body.data.contextInfo.externalAdReply.title }}",
              "type": "string"
            },
            {
              "id": "eebd8208-4374-46c0-92f6-172a1631dd3a",
              "name": "anuncio.texto",
              "value": "={{ $json.body.data.contextInfo.externalAdReply.body }}",
              "type": "string"
            },
            {
              "id": "c53378b8-c136-4b65-8d29-89eabf654b8c",
              "name": "anuncio.tipo",
              "value": "={{ $json.body.data.contextInfo.externalAdReply.mediaType.toLowerCase() }}",
              "type": "string"
            },
            {
              "id": "efddecd5-87ec-4074-b96b-cf982c960347",
              "name": "anuncio.thumbnail",
              "value": "={{ $json.body.data.contextInfo.externalAdReply.thumbnailUrl }}",
              "type": "string"
            },
            {
              "id": "be7a7302-d675-4831-85c0-bcdfc217980c",
              "name": "anuncio.url",
              "value": "={{ $json.body.data.contextInfo.externalAdReply.mediaUrl }}",
              "type": "string"
            },
            {
              "id": "0af3d08b-ccbf-4195-978c-87d10835a152",
              "name": "lead.nome",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "6e122421-355d-422a-af50-91045389ef28",
              "name": "lead.data",
              "value": "={{ $json.body.data.messageTimestamp.toDateTime('s').format(\"dd-MM-yyyy HH:mm:ss\") }}",
              "type": "string"
            },
            {
              "id": "c6e810bf-9185-438f-8207-0470d14cf4d8",
              "name": "lead.telefone",
              "value": "={{ $json.body.data.key.remoteJid.split(\"@\")[0] }}",
              "type": "string"
            },
            {
              "id": "c2c2cbcb-efea-4cd1-ba40-064ffbdc3bcc",
              "name": "tracking.token",
              "value": "seu token",
              "type": "string"
            },
            {
              "id": "54918f41-9a55-4251-ad6a-2727567cb8a8",
              "name": "lead.mensagem",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1280,
        2304
      ],
      "id": "79bf5f83-4c23-4712-b9d0-3437d484b626",
      "name": "Normalizar1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1X8Qh1QcFq1s6X9BH06aPD3WDHQct8fU02_QaIxcIHxg",
          "mode": "list",
          "cachedResultName": "Aula",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1X8Qh1QcFq1s6X9BH06aPD3WDHQct8fU02_QaIxcIHxg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 660083152,
          "mode": "list",
          "cachedResultName": "Rastreio",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1X8Qh1QcFq1s6X9BH06aPD3WDHQct8fU02_QaIxcIHxg/edit#gid=660083152"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Campanha": "={{ $json.campaign.name }}",
            "Conjunto de anúncio": "={{ $json.adset.name }}",
            "Anúncio": "={{ $json.name }}",
            "Data de entrada": "={{ $('Normalizar1').item.json.lead.data }}",
            "Nome": "={{ $('Normalizar1').item.json.lead.nome }}",
            "Telefone": "={{ $('Normalizar1').item.json.lead.telefone }}",
            "Link WhatsApp": "=https://wa.me/{{ $('Normalizar1').item.json.lead.telefone }}",
            "título": "={{ $('Normalizar1').item.json.anuncio.titulo }}",
            "Tipo do anúncio": "={{ $('Normalizar1').item.json.anuncio.tipo }}",
            "URL do anúncio": "={{ $('Normalizar1').item.json.anuncio.url }}",
            "thumbnail URL": "={{ $('Normalizar1').item.json.anuncio.thumbnail }}",
            "mensagem do lead": "={{ $('Normalizar1').item.json.lead.mensagem }}"
          },
          "matchingColumns": [
            "Telefone"
          ],
          "schema": [
            {
              "id": "Campanha",
              "displayName": "Campanha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Conjunto de anúncio",
              "displayName": "Conjunto de anúncio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Anúncio",
              "displayName": "Anúncio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data de entrada",
              "displayName": "Data de entrada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mensagem do lead",
              "displayName": "mensagem do lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link WhatsApp",
              "displayName": "Link WhatsApp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "título",
              "displayName": "título",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "thumbnail URL",
              "displayName": "thumbnail URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL do anúncio",
              "displayName": "URL do anúncio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tipo do anúncio",
              "displayName": "Tipo do anúncio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -592,
        2128
      ],
      "id": "41f2ca74-a57c-4041-8db8-5d9ce30292b8",
      "name": "Append or update row in sheet"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1424866-5765-4952-a06d-5217915672e5",
              "name": "trafego.ad",
              "value": "={{ $('BuscaRastreio3').item.json.name }}",
              "type": "string"
            },
            {
              "id": "e6f35391-8396-4662-81c9-0740fe226c97",
              "name": "trafego.conjunto",
              "value": "={{ $('BuscaRastreio3').item.json.adset.name }}",
              "type": "string"
            },
            {
              "id": "5bfa721d-148b-4bd0-96ab-c897df06d45f",
              "name": "trafego.campanha",
              "value": "={{ $('BuscaRastreio3').item.json.campaign.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        2128
      ],
      "id": "7c62cd48-efc0-4888-8b5b-9dd5cf9c4e0e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=público: {{ $json.trafego.conjunto.split(\"-\")[0] }}\nmarca do produto que o lead deseja: {{ $json.trafego.campanha.replaceAll(\"]\",\"\").split(\"[\")[3] }}\nproduto: {{ $json.trafego.ad.split(\"-\")[0] }}\ndesejo\\dor do lead: {{ $json.trafego.ad.split(\"-\")[1] }}\nmensagem do lead: quero saber o preço desse produto?",
        "options": {
          "systemMessage": "você é um especialista em vender iphone\n\no preço do produto é: \niphone 15 reais\nairpod 30 reais"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -128,
        2128
      ],
      "id": "4d4cb0f5-2231-49be-bcac-0fe573423f0b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -128,
        2336
      ],
      "id": "7172d456-ad2a-47fd-9964-5f1f2a5a6ed8",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/kalopessita/klp-1901/rastreio",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1536,
        2304
      ],
      "id": "bc83f776-0c0d-4340-8706-fd5b8eb25ef9",
      "name": "Webhook5",
      "webhookId": "da13d7ab-7933-46de-a314-dff79a376dc3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "48ddb02a-a3fe-4dea-8474-bfa17db1cea5",
              "leftValue": "={{ $json.tracking.ctwaclid }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1040,
        2304
      ],
      "id": "191c2944-ec07-4f2e-8dbe-08e58e4d2470",
      "name": "Anuncio?3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -816,
        2496
      ],
      "id": "aed697db-51b7-4df2-b2dd-8868fed5d852",
      "name": "No Operation, do nothing3"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v22.0/{{ $('Normalizar1').item.json.tracking.source_id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('Normalizar1').item.json.tracking.token }}"
            },
            {
              "name": "fields",
              "value": "name,adset{id,name},campaign{id,name}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -784,
        2128
      ],
      "id": "aa184e20-2928-4d25-86b7-47b615be20fd",
      "name": "BuscaRastreio3",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## SUB\n\n",
        "height": 80,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1536,
        2160
      ],
      "typeVersion": 1,
      "id": "9fcef700-d672-4ac7-bd71-c862c085a4ec",
      "name": "Sticky Note7"
    }
  ],
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "telefone": "5561999123",
          "nome": "José Silva",
          "qualificado": true,
          "cidade": "brasília do Jordão"
        }
      }
    ]
  },
  "connections": {
    "Evolution": {
      "main": [
        [
          {
            "node": "Normaliza",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normaliza": {
      "main": [
        [
          {
            "node": "Anuncio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anuncio?": {
      "main": [
        [
          {
            "node": "BuscaLead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuscaLead": {
      "main": [
        [
          {
            "node": "LeadNovo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LeadNovo?": {
      "main": [
        [
          {
            "node": "BuscaRastreio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuscaRastreio": {
      "main": [
        [
          {
            "node": "CriaLead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution1": {
      "main": [
        [
          {
            "node": "Normaliza1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normaliza1": {
      "main": [
        [
          {
            "node": "Anuncio?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anuncio?1": {
      "main": [
        [
          {
            "node": "BuscaRastreio1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuscaRastreio1": {
      "main": [
        [
          {
            "node": "CriaLead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution2": {
      "main": [
        [
          {
            "node": "Normaliza2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normaliza2": {
      "main": [
        [
          {
            "node": "Anuncio?2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anuncio?2": {
      "main": [
        [
          {
            "node": "BuscaRastreio2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuscaRastreio2": {
      "main": [
        [
          {
            "node": "CriaLead2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CriaLead": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "CryptoPhone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CryptoPhone": {
      "main": [
        [
          {
            "node": "BuscaPixel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuscaPixel": {
      "main": [
        [
          {
            "node": "Extrair ID pixel e page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair ID pixel e page": {
      "main": [
        [
          {
            "node": "EnviaLead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "CryptoPhone1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CryptoPhone1": {
      "main": [
        [
          {
            "node": "BuscaPixel1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuscaPixel1": {
      "main": [
        [
          {
            "node": "Extrair ID pixel e page1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair ID pixel e page1": {
      "main": [
        [
          {
            "node": "EnviaLead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CriaLead1": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "First and last name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "First and last name": {
      "main": [
        [
          {
            "node": "BuscaLead1",
            "type": "main",
            "index": 0
          },
          {
            "node": "AtualizaNome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuscaLead1": {
      "main": [
        [
          {
            "node": "Date & Time2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time2": {
      "main": [
        [
          {
            "node": "CryptoPhone2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CryptoPhone2": {
      "main": [
        [
          {
            "node": "CryptoFN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuscaPixel2": {
      "main": [
        [
          {
            "node": "Extrair ID pixel e page2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair ID pixel e page2": {
      "main": [
        [
          {
            "node": "EnviaLead2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CryptoFN": {
      "main": [
        [
          {
            "node": "CryptoLN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CryptoLN": {
      "main": [
        [
          {
            "node": "BuscaPixel2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar1": {
      "main": [
        [
          {
            "node": "Anuncio?3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook5": {
      "main": [
        [
          {
            "node": "Normalizar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anuncio?3": {
      "main": [
        [
          {
            "node": "BuscaRastreio3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuscaRastreio3": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e2761ab9-9a74-4de5-9419-0904f104c859",
  "meta": {
    "instanceId": "32b8deda9210608c7a7751591224c71434f835b30c8b9ce6fc9cf2f83f3dc2f1"
  },
  "id": "TqvS5dqoe6uhNy1e",
  "tags": []
}